tests/                  export-ignore
.editorconfig           export-ignore
.gitignore              export-ignore
smpl-logo.png           export-ignore
conventionalcommit.json export-ignore
infection.json          export-ignore
Makefile                export-ignore
.changelog              export-ignore
phpunit.xml.dist        export-ignore
psalm.xml               export-ignore
phpstan.neon            export-ignore
